<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<typeAliases>
		<typeAlias type="model.Comment" alias="Comment" />
		<typeAlias type="model.User" alias="User" />
		<typeAlias type="model.Reply" alias="Reply" />
		<typeAlias type="model.Music" alias="Music" />
	</typeAliases>  
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@202.20.119.117:1521:orcl" />
				<property name="username" value="dbpro0205" />
				<property name="password" value="dbdeep" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="repository/mybatis/mapper/CommentMapper.xml" />
		<mapper resource="repository/mybatis/mapper/MusicMapper.xml" />
	</mappers>
</configuration>